# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5e36b37e22d8d57ac0ba2541ddc39e6949b67fc3b26efa58a236af15b099b1eb75c17f011da1eda8409833158def28ddfb95d0bf74f35a40fab0c4bf0f9b7c83

test:
  secret_key_base: 7ea20425e3c92d76399859689e071a3b6374a391868c6b213a71823be4c35d388c1e2929149e88fa6d7aa73796f9d3ec363c07506f73e6967409460048a714e5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
